<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SWIMv2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LogInServlet</display-name>
    <servlet-name>LogInServlet</servlet-name>
    <servlet-class>it.polimi.swim.servlets.home.LogInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogInServlet</servlet-name>
    <url-pattern>/LogInServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyProfileServlet</display-name>
    <servlet-name>ModifyProfileServlet</servlet-name>
    <servlet-class>it.polimi.swim.servlets.profile.ModifyProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyProfileServlet</servlet-name>
    <url-pattern>/ModifyProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainServlet</display-name>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>it.polimi.swim.servlets.controller.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>*.servlet</url-pattern>
    <url-pattern>*.view</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConversationsServlet</display-name>
    <servlet-name>ConversationsServlet</servlet-name>
    <servlet-class>it.polimi.swim.servlets.msg.ConversationsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConversationsServlet</servlet-name>
    <url-pattern>/ConversationsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PFriendshipServlet</display-name>
    <servlet-name>PFriendshipServlet</servlet-name>
    <servlet-class>it.polimi.swim.servlets.frship.PFriendshipServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PFriendshipServlet</servlet-name>
    <url-pattern>/PFriendshipServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PMessagesServlet</display-name>
    <servlet-name>PMessagesServlet</servlet-name>
    <servlet-class>it.polimi.swim.servlets.msg.PMessagesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PMessagesServlet</servlet-name>
    <url-pattern>/PMessagesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadUserServlet</display-name>
    <servlet-name>LoadUserServlet</servlet-name>
    <servlet-class>it.polimi.swim.servlets.profile.LoadUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadUserServlet</servlet-name>
    <url-pattern>/LoadUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExpandConvServlet</display-name>
    <servlet-name>ExpandConvServlet</servlet-name>
    <servlet-class>it.polimi.swim.servlets.msg.ExpandConvServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExpandConvServlet</servlet-name>
    <url-pattern>/ExpandConvServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOutServlet</display-name>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>it.polimi.swim.servlets.home.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/LogOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>it.polimi.swim.servlets.home.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PendingAbilitiesServlet</display-name>
    <servlet-name>PendingAbilitiesServlet</servlet-name>
    <servlet-class>it.polimi.swim.servlets.admin.PendingAbilitiesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PendingAbilitiesServlet</servlet-name>
    <url-pattern>/PendingAbilitiesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>it.polimi.swim.servlets.search.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyHelpRequestServlet</display-name>
    <servlet-name>MyHelpRequestServlet</servlet-name>
    <servlet-class>it.polimi.swim.servlets.helprequest.MyHelpRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyHelpRequestServlet</servlet-name>
    <url-pattern>/MyHelpRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadHelpRequestServlet</display-name>
    <servlet-name>LoadHelpRequestServlet</servlet-name>
    <servlet-class>it.polimi.swim.servlets.helprequest.LoadHelpRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadHelpRequestServlet</servlet-name>
    <url-pattern>/LoadHelpRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreServlet</display-name>
    <servlet-name>StoreServlet</servlet-name>
    <servlet-class>it.polimi.swim.servlets.storing.StoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreServlet</servlet-name>
    <url-pattern>*.store</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadAbilitiesServlet</display-name>
    <servlet-name>LoadAbilitiesServlet</servlet-name>
    <servlet-class>it.polimi.swim.servlets.profile.LoadAbilitiesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadAbilitiesServlet</servlet-name>
    <url-pattern>/LoadAbilitiesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadFilteredWallServlet</display-name>
    <servlet-name>LoadFilteredWallServlet</servlet-name>
    <servlet-class>it.polimi.swim.servlets.helprequest.LoadFilteredWallServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadFilteredWallServlet</servlet-name>
    <url-pattern>/LoadFilteredWallServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadFriendsServlet</display-name>
    <servlet-name>LoadFriendsServlet</servlet-name>
    <servlet-class>it.polimi.swim.servlets.profile.LoadFriendsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadFriendsServlet</servlet-name>
    <url-pattern>/LoadFriendsServlet</url-pattern>
  </servlet-mapping>
</web-app>